# Google Cloud Credentials
GOOGLE_CLIENT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_CONTENT_HERE\n-----END PRIVATE KEY-----\n"

# Google Document AI Processor Details
PROJECT_ID=your-project-id
LOCATION=your-location
PROCESSOR_ID=your-processor-id

# Application API Key (Make sure front end receipt uploader app pass this as header)
API_KEY=your-x-api-key-for-header

# Application Port (optional)
PORT=3000